.group {
    max-width: 300px;
    margin: 0 40px 40px 0;
    padding: 40px;
    color: #333;
}

.group:hover {
    text-decoration: none;
    color: #333;
    background: #f6f6f6;
}

.group .name {
    font-weight: 400;
}

.group .description {
    color: #888;
    font-weight: 300;
}

.group .email {
    font-weight: 300;
}

.group .direct-members {
    color: #4a86e8;
    font-weight: 300;
}

#search, .form-group {
    margin: 5px 10px 5px 0;
}
