#chart {
    position: relative;
}

.group {
    max-width: 300px;
    padding: 40px;
    color: #333;
}

.group .name {
    font-weight: 400;
}

.group .description, .group .role {
    color: #888;
    font-weight: 300;
}

.group .email {
    font-weight: 300;
}

.group .link {
    color: #4a86e8;
    font-weight: 300;
}

#search, .form-group {
    margin: 5px 10px 5px 0;
}

#group-settings-chart {
    overflow-x: scroll;
}

#access-type-radio-group .form-check .form-check-label {
    color: #444;
}

#tooltip-role-sel {
    margin: 10px 0;
}

#create-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#remove-btn {
    background: #e35f5f;
    width: 40px;
    margin-bottom: 0;
}
#remove-btn:hover {
    background: #d44444;
    width: 160px;
}

#add-member-btn {
    background: #97b0cc;
    width: 50px;
    margin-bottom: 0;
}
#add-member-btn:hover {
    background: #607fa1;
    width: 140px;
}

.btn-collapse {
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    overflow: hidden;
}

.btn-collapse span {
    opacity: 1;
    display: inline-block;
    color: #fff;
    transition: opacity 0.3s ease 0s, transform 0.5s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.5s ease 0s;
    -moz-transition: opacity 0.3s ease 0s, -moz-transform 0.5s ease 0s;
    width: 100%;
}

.btn-collapse span:before {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 200%;
    opacity: 0;
    color: #fff;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.btn-collapse:hover span {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-200%);
}
.btn-collapse:hover span:before {
    opacity: 1;
}