.hidden {
    display: none !important;
}

.light {
    color: #888;
}

/* BODY */

body {
    background: #f3f3f3ff;
    color: rgba(0, 0, 0, 0.87);
}

.container {
  padding: 40px 5rem;
  max-width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap.between {
    justify-content: space-between;
}

.card {
    background: #fff;
    border-radius: 2px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    padding: 0;
}

.btn {
    margin: 5px 10px 5px 0;
}

/* NAVBAR */

.navbar {
    background: rgba(51,103,214,1);
    color: #fff;
    width: 100%;
    padding: .5rem 5rem;
    box-shadow: 0 8px 10px -9px rgba(0,0,0,.05), 0 3px 14px 2px rgba(0,0,0,.01), 0 5px 5px -3px rgba(0,0,0,.05);
}

.navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
}

.navbar a:not(.dropdown-item), .navbar a:not(.dropdown-item):hover {
    color: #fff;
}

.navbar-collapse {
    flex-direction: row;
    justify-content: space-between;
}

.navbar-toggler {
    border: 1px solid white;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.page-title {
    padding: 20px 5rem;
    color: #666;
    font-size: 1.25em;
    display: inherit;
}

/* SIDEBAR */

.sidenav-container {
    width: 30%;
    position: relative;
}

.sidenav {
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.sidenav .sidenav-section {
  padding: 1em;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lightgray;
}

.sidenav .sidenav-section .section-right {
    display: inline;
    float: right;
}

.sidenav .sidenav-section .flex {
    width: 100%;
}

.sidenav .sidenav-section.blue {
  background-color: #f3faffff;
}

.sidenav .sidenav-section .section-title {
    font-size: 1.25rem;
    color: black;
    margin-top: 10px;
    font-weight: 400;
}

.sidenav .sidenav-section p {
    margin: 0;
  color: #888;
}

@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;} */
  .sidenav a {font-size: 18px;}
}

/* HOME */

.home-container {
  width: 100%;
}

.home-buttons-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.home-buttons-list .home-button-item {
    margin: 0 40px 40px 0;
}

.home-buttons-list .home-button-item .home-button {
    padding: 20px;
    text-align: center;
    width: 250px;
}

.home-buttons-list .home-button-item .home-button:hover {
    text-decoration: none;
}

.home-buttons-list .home-button-item .home-button img {
    height: 100px;
    width: 100px;
}

.home-buttons-list .home-button-item .home-button .home-button-title {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    margin-top: 10px;
}

.home-buttons-list .home-button-item .home-button p {
    color: #666;
}

/* MAIN */

.main-container {
    width: 65%;
    position: relative;
}

.main {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}