.hidden {
    display: none !important;
}

.light {
    color: #888;
}

.lead {
    font-size: 1.15em;
}

/* BODY */

body {
    background: #f3f3f3ff;
    color: rgba(0, 0, 0, 0.87);
}

.container {
  padding: 40px 5rem;
  max-width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap.between {
    justify-content: space-between;
}

.card {
    background: #fff;
    border-radius: 2px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    padding: 0;
    color: #888;
}

.btn {
    margin: 5px 10px 5px 0;
}

th {
    font-weight: normal;
}

/* NAVBAR */

.navbar {
    background: rgba(51,103,214,1);
    color: #fff;
    width: 100%;
    padding: .5rem 5rem;
    box-shadow: 0 8px 10px -9px rgba(0,0,0,.05), 0 3px 14px 2px rgba(0,0,0,.01), 0 5px 5px -3px rgba(0,0,0,.05);
}

.navbar-nav {
    font-size: 1.15em;
}

.navbar-nav .dropdown {
    cursor: pointer;
}

.navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
}

.navbar:not(.navbar-light) a:not(.dropdown-item), 
.navbar:not(.navbar-light) a:not(.dropdown-item):hover {
    color: #fff;
}

.navbar .dropdown-item {
    cursor: pointer;
    text-align: center;
}

.navbar-collapse {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
}

.navbar-toggler {
    border: 1px solid white;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#dropdown-user-picture {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.page-title {
    padding: 20px 5rem;
    color: #666;
    font-size: 1.15em;
    display: inherit;
}

/* SIDEBAR */

.sidenav-container {
    width: 30%;
    position: relative;
}

.sidenav {
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.sidenav .sidenav-section {
  padding: 1em;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid lightgray;
}

.sidenav .sidenav-section .section-right {
    display: inline;
    float: right;
}

.sidenav .sidenav-section .flex {
    width: 100%;
}

.sidenav .sidenav-section.blue {
  background-color: #f3faffff;
}

.section-title {
    font-size: 1.25rem;
    color: #888;
    margin-top: 10px;
    font-weight: 400;
}

.section-subtitle {
    color: black;
    margin-top: 10px;
    font-weight: 400;
}

.sidenav .sidenav-section p,
.section-text {
    margin: 0;
    color: #888;
}

.section-link {
    margin: 0;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;} */
  .sidenav a {font-size: 18px;}
}

/* LOGIN */

.masthead {
  height: 100vh;
  min-height: 350px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url(/images/screenshot.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-text .showcase-icon {
    background: #fff;
    border-radius: 50%;
    margin: 10px 0;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.showcase .showcase-text.text-right .showcase-icon {
    margin-left: auto;
}

.showcase .showcase-text .showcase-icon img {
    width: 100%;
    height: 100%;
}

.showcase .showcase-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://source.unsplash.com/BtbjCFUvBXs/1920x1080) no-repeat center center;
}

.showcase .showcase-img video {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 25rem;
}

.features-icons .features-icons-item .feature-icon {
    width: 20%;
    margin: 1rem auto;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 25rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
  width: 200px;
  height: 200px;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .call-to-action-overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

/* HOME */

.home-container {
  width: 100%;
}

.home-buttons-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.home-buttons-list .home-button-item {
    margin: 0 40px 40px 0;
}

.home-buttons-list .home-button-item .home-button {
    padding: 20px;
    text-align: center;
    width: 250px;
}

.home-buttons-list .home-button-item .home-button:hover {
    text-decoration: none;
}

.home-buttons-list .home-button-item .home-button img {
    height: 100px;
    width: 100px;
}

.home-buttons-list .home-button-item .home-button .home-button-title {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    margin-top: 10px;
}

.home-buttons-list .home-button-item .home-button p {
    color: #666;
}

.home-icon {
    margin-left: auto;
    margin-right: auto;
}

/* MAIN */

.main-container {
    width: 65%;
    position: relative;
}

.main {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

/* OTHER STYLES */

.accordion {
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
}

.accordion .card .card-header {
    padding-bottom: 5px;
    background: rgb(243, 250, 255);
}

.accordion .fa {
    margin-right: 0.5rem;
}

.highlight {
    color: rgba(51,103,214,1);
}

.no-search-results {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
