.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
 
.node text { font: 12px sans-serif; }
 
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
 
.list-container{
    background: rgba(0,0,0,0); 
}
 
foreignObject ul{
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
 
.side-item{
    margin: 5px;
}
 
#single-user-OU-branch {
    background-color: white;
}
 
#user-groups {
    background-color: white;
}
 
#user-search-input, #search-checkbox-input, .form-group {
    margin: 5px 10px 5px 0;
}

.icon {
    color: #888;
    float: right;
    padding-right: 2px;
}

.iconadd i {
    color: #888;
    padding: 0 2px 2px 2px;
}

.fa fa-user-plus {
    padding: 2px;
}

.filter-btn {
    border: none;
    background: none;
    color: blue;
    font-size: 1.00rem;
    margin: 1px;
    margin-left: 15px;
    padding: 3px;
}

#filter-btn:hover {
    text-decoration: underline;
}

img {
  border-radius: 50%;
  margin-top: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userdetail-title {
  padding: 5px; 
  margin: 5px;
  font-weight: 400;
  color: #888;
  font-size: 1.30rem;
}

.modal-header {
    background: rgba(51,103,214,1);
    color: white;
}

.modal-text {
    font-size: 0.90rem;
    margin-top: 1px;
    padding: 2px;
    font-weight: 400;
    color: #888;
}

.input-group-addon {
    background-color: transparent;
  border-left: 0px solid transparent;
    color: #888;
}

#userEmail {
    padding-right: 85px;
}

.shorter-input{
    display: block;
    overflow: hidden; 
    padding-right: 10px;
}

#email-domain, #add-email-domain {
    float: right;
    padding-top: 6px;
}

#rename-span {
    background-color: #ffe680;
    padding: 3px;
}

#user-groups {
    max-height: 50px; 
    overflow: auto;
}

#single-user-OU-branch {
    padding: 0 5px; 
    margin: 0 5px;
    font-weight: 400;
    overflow: auto;
}

.fa-angle-right {
    padding: 0 5px;
}

#user-groups {
    padding: 0 5px; 
    margin: 0 5px;
    max-height: 400px; 
    overflow: auto 
}

#user-groups .card-title {
    font-weight: 400;
}

#user-groups .card-text, #user-groups .card-link {
    font-weight: 300;
}

.card-right {
    display: inline;
    float: right;
}